<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Chat App</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        main {
            text-align: center;
        }
    </style>
</head>
<body>
    <main>
        <h1>Welcome to The Online Chat Room</h1>
        <h3 th:text="${message}" style="color: red;">message</h3>
        <a href="/login"><button>Login</button></a>
        <a href="/signup"><button>Sign Up</button></a>
    </main>
</body>
</html>